
VBox {
    -fx-background-color: linear-gradient(to bottom, #85C1E9, #f0f0f0);
    -fx-padding: 20;
}

TextField {
    -fx-background-color: #fff;
}

Button {
    -fx-background-color: linear-gradient(to bottom, #0056b3, #007bff);
    -fx-text-fill: #fff;
}
